@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    transition: all 0.2s;
}

 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.container {
    margin: 25px 500px;
    padding: 50px 40px;
    width: 22%;
    height: 40vh;
    position: absolute;
    top:20vh;
    background: rgba(255, 255, 255, 0.144);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(255, 255, 255, 0.067);
    font-weight: bold;
    color: rgb(42, 42, 42);
    font-family: 'Lato', sans-serif;
    /* text-transform: uppercase; */
}
.container input[type="password"],input[type="email"],input[type="text"]
{
    background-color: rgba(255, 255, 255, 0.145);
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.053);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
input::placeholder
{
    color: rgb(74, 74, 74);
}
.item
{
    margin-bottom: 20px;
}
input:focus
{
    outline: none;
}
input[type="password"], input[type="text"]
{
    margin-bottom:10px ;
}
input[type="checkbox"]
{
    margin-bottom:50px ;
}
.sho
{
    font-size: 16px;
}
.checkmark {
    position: relative;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    cursor: pointer;
  }
.container button
{
    background-color: #ffffff;
    border: none;
    color: #777;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 15px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    left: 105px;
}
.animate:hover
{
    transform: translateY(-3px);
}
.animate:active
{
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
}
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position: absolute;
    z-index: -1;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.moveright1
{
    transform: translateX(150px);
}
.moverighteven
{
    transform: translateX(-100px);
}
.moverightodd
{
    transform: translateX(150px);
}
.moveoriginal
{
    transform: translateX(0);
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
